.about_us_container {
  width: 100%;
  margin: 0px auto;
  background-image: url("https://i.pinimg.com/736x/8a/49/1e/8a491ec3a7a60bb86641beea7a800735.jpg");
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.about_header {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  padding: 65px 20px;
  padding-top: 30px;
}
.member_photo {
  width: 125px;
  height: 125px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: black;
  border: 2px solid #9793ba;
  transition: transform 1s ease-in-out;
  margin: 0 auto;
}

.member_photo:hover {
  transform: rotateY(180deg);
}

.about_header h1 {
  font-size: 45px;
  font-weight: 800;
  position: absolute;
  text-align: center;
  background-color: white;
  -webkit-background-clip: text;
  color: transparent;
}

.about_header h1:nth-child(1) {
  color: white;
}

.about_header h1:nth-child(2) {
  color: #9793ba;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.about_header p {
  font-size: 22px;
  margin-top: 100px;
  margin-bottom: 0;
  color: #9793ba;
}

.mission,
.vision {
  margin: 0px 65px;
  margin-bottom: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-left: 6px solid #9793ba;
  background-image: url("https://i.pinimg.com/originals/70/eb/0b/70eb0b53eb57c91db403928c5d02a19a.gif");
}

.mission h2,
.vision h2 {
  color: white;
  font-weight: 600;
  font-size: 25px;
}

.mission p,
.vision p {
  color: #b3b0cd;
  font-size: 17px;
  line-height: 1.6;
}

.vision_inner,
.mission_inner {
  backdrop-filter: blur(220px);
  padding: 20px 55px;
  padding-bottom: 30px;
}

.team {
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
  background-size: cover;
  margin: 0 20px;
  border: 1.5px solid #9793ba;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/originals/70/eb/0b/70eb0b53eb57c91db403928c5d02a19a.gif");
  margin-bottom: 70px;
}

.team_inner {
  padding: 30px 0px;
  padding-bottom: 50px;
  backdrop-filter: blur(250px);
}

.team h2 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  color: white;
}

.team_members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.member_card {
  width: 195px;
  padding: 25px 0px;
  border-radius: 10px;
  background: #d7b7ff35;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.01);
  transition: transform 0.8s ease;
}

.member_card:hover {
  transform: translateY(-12px);
}

.member_card h3 {
  color: #9793ba;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.member_card p {
  font-size: 16px;
  margin-top: 5px;
  color: white;
}

.contact {
  padding: 40px 30px;
  background: #f9fafb;
  border-top: 4px solid white;
  text-align: center;
}

.contact h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #3b82f6;
}

.contact p {
  font-size: 18px;

  margin: 8px 0;
}

.about_inner {
  margin-left: 250px;
  backdrop-filter: blur(60px);
  background-color: rgba(119, 0, 255, 0.02s);
  padding: 10px 30px;
}

.centeredImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  z-index: 0;
}

.navbar {
  width: 20%;
  height: 100vh;
  position: fixed !important;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.miss_viss {
  border: 2px solid #9793ba;
  color: #9793ba;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 50px 180px;
  background-color: #9793ba1e;
  margin-top: 0px;
  border-radius: 20px;
  padding: 30px;
}

.miss_viss img {
  height: 200px;
}

.miss_viss p {
  margin-top: 10px;
}

.miss_viss div {
  display: flex;
  justify-content: center;
  align-content: center;
}

.studentContribution {
  border: 2px solid #9793ba;
  margin: 50px 130px;
  padding: 40px 50px;
  background-color: #9793ba1b;
  border-radius: 20px;
}

.studentContribution h3 {
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.studentContribution ul {
  list-style-type: disc;
  padding-left: 30px;
  margin-top: 20px;
  display: inline-block;
}

.studentContribution li {
  font-size: 18px;
  color: #9793ba;
  font-weight: 400;
  padding-left: 10px;
}

.centeredImage img {
  height: 250px;
}

.techUsed {
  margin: 0 100px;
  border-radius: 20px;
  margin-bottom: 50px;
  padding: 30px 10px;
  background-color: #9793ba1b;
  border: 2px solid #9793ba;
}

.techUsed h3 {
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: 500;
  margin-bottom: 20px;
}

.techUsed div {
  display: flex;
  justify-content: center;
  align-content: center;
}

.techUsed img {
  height: 350px;
}

.techUsed p {
  font-size: 17px;
  font-weight: 400;
  color: #9793ba;
  padding: 20px 40px;
}
