.flip_card {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(to right, #959effcd, #6c78ff);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  transition: transform 1.5s ease-in-out;
  transform-style: preserve-3d;
}

.flip_card:hover {
  transform: rotateY(360deg);
}

.feed_outer {
  background-image: url("https://i.pinimg.com/originals/a7/99/61/a79961637e3d670135579a9138176fcf.gif");
}

.feed_inner {
  height: 100%;
  backdrop-filter: blur(50px);
}

.quote_outer {
  background: linear-gradient(90deg, #422c7d, #251e67, #2d247f);
  /* background-image: url("https://i.pinimg.com/564x/d2/6a/f4/d26af4e954c30605acbd7d2f486984ed.jpg"); */
}

.quote_inner {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(100px);
}

.post_form_outer {
  width: 400px;
  height: 380px;
  background-size: cover;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/originals/70/eb/0b/70eb0b53eb57c91db403928c5d02a19a.gif");
}

.post_form_inner {
  border: 3px solid rgba(240, 220, 255, 0.356);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backdrop-filter: blur(100px);
}

.top_streak_outer {
  width: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 20px !important;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/originals/70/eb/0b/70eb0b53eb57c91db403928c5d02a19a.gif");
}

.top_streak_inner {
  padding: 18px;
  border: 3px solid rgba(240, 220, 255, 0.356);
  border-radius: 20px !important;
  backdrop-filter: blur(100px);
}

.top_li {
  transition: transform 0.8s ease-in-out;
}

.top_li:hover {
  /* background: linear-gradient(#340274,#6600ff,#9aa2ff); */
  background-color: rgba(229, 202, 255, 0.1);
  transform: scale(1.02);
}

.feed_inner_load {
  height: 100vw;
}

.communityHead {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  padding: 30px 0;
}

.communityHead h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  text-align: center;
  background-color: white;
  -webkit-background-clip: text;
  color: transparent;
}

.communityHead h1:nth-child(1) {
  color: white;
}

.communityHead h1:nth-child(2) {
  color: #9793ba;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.centerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.centerImage img {
  height: 300px;
}

.hubIntro {
  border: 2px solid #9793ba;
  background-color: #9793ba20;
  margin: 0 150px;
  color: #9793ba;
  border-radius: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.hubIntro p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.postListOuter {
  margin: 40px 10px;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #9793ba1b;
  padding: 35px 70px;
  border: 2px solid #9793ba;
}

.postListOuter img {
  height: 200px;
}

.postListPara {
  font-size: 16.7px;
  font-weight: 600;
  color: #9793ba;
  text-align: center;
}

.postListPara:nth-child(4) {
  margin-bottom: 40px;
}

.userGreeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profileImage {
  width: 170px;
  height: 170px;
  margin-top: 40px;
  border-radius: 50%;
  border: 3px solid #9793ba;
  margin-bottom: 10px;
  z-index: 10;
  transition: transform 1.5s ease;
  /* box-shadow: 0 8px 16px rgba(58, 15, 90, 0.804); */
}

.profileImage:hover {
  transform: rotateY(360deg);
}

.userTask {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  color: #b0adca;
}

.featurePara {
  color: #9793ba;
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.welcomeHead {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  font-weight: 600;
  color: white;
}
