.LeaderBoard {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ddd;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}

tr {
  background-color: #f2f2f2;
}

td {
  font-size: 1rem;
  color: #555;
}

td:nth-child(1) {
  font-weight: bold;
}

.Reward {
  font-size: 1.2rem;
  font-weight: bold;
}

.GraphContainer {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ddd;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.ChartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserLegend {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.UserLegend span {
  font-size: 1.1rem;
  font-weight: bold;
}

.ChartTooltip {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  color: #333;
}

.ChartLine {
  stroke-width: 2px;
}
/* 
.leader_outer {
  overflow: hidden;
  background-image: url("https://i.pinimg.com/736x/8a/49/1e/8a491ec3a7a60bb86641beea7a800735.jpg");
} */
.leader_outer {
  overflow: hidden;
  /* background-image: url("https://i.pinimg.com/736x/8a/49/1e/8a491ec3a7a60bb86641beea7a800735.jpg"); */
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  margin: 0px; 
  margin-left: 280px;
}

.leader_inner {
  /* background-color: rgba(119, 0, 255, 0.02s); */
  /* background: radial-gradient(circle, #310577, #010535, #090015);
  backdrop-filter: blur(40px);  */

  overflow-y: auto;
  display: flexbox;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
 
  
}

.navbar {
  width: 20%;
  height: 100vh;
  position: fixed !important;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.heading {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  z-index: 10;
  position: absolute;
  background-color: white;
  -webkit-background-clip: text;
  color: transparent;
}

.heading:nth-child(1) {
  color: white;
}

.heading:nth-child(2) {
  color: #9793ba;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.rank_outer {
  margin-top: 20px;
  background-position: center;
  border: 2px solid #9793ba;
  width: 35%;
  text-align: center;
  border-radius: 20px;
  transition: transform 1s ease-in-out;
  background-image: url("https://i.pinimg.com/originals/70/eb/0b/70eb0b53eb57c91db403928c5d02a19a.gif");
}

.rank_outer:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.rank_inner {
  border-radius: 20px;
  padding: 20px 30px;
  backdrop-filter: blur(50px);
  background-color: #0d0822ae;
}

.rank_board_outer {
  background-color: #04253f;
  background-position: center;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  transition: transform 0.5s ease-in-out;
  background-image: url("https://i.pinimg.com/originals/37/d8/fd/37d8fd385021566890f0df2e253a0901.gif");
}

.rank_board_outer:hover {
  transform: translateY(-10px);
}
.outerRankBoard {
  border: 2px solid #9793ba;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  background-color: #a7a1e014;
}

.centerImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.centerImage p {
  color: #9793ba;
  font-size: 16px;
  font-weight: 500;
}

.outerRankBoard img {
  height: 120px;
  margin-bottom: 10px;
}

.outerRankBoard h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
}

.rank_board_inner {
  backdrop-filter: blur(52px);
  width: 100%;
}

.leader_board_outer {
  overflow: hidden;
  border: 2px solid #9793ba;
  border-radius: 13px;
  background-image: url("https://i.pinimg.com/originals/37/d8/fd/37d8fd385021566890f0df2e253a0901.gif");
}

.leader_board_inner {
  max-height: 593px;
  backdrop-filter: blur(500px);
  
}

.table_head {
  position: sticky;
  top: 0;
  left: 0;
  font-size: 19px;
}

.table_head tr {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.table_head th {
  color: #170431e9;
  background-color: #847faa !important;
}

.leader_table_li {
  transition: transform 1s ease-in-out;
}

.leader_table_li:hover {
  transform: scale(1.02);
  background-color: #9793ba19;
}

.userGreeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage {
  width: 170px;
  height: 170px;
  margin-top: 115px;
  border-radius: 50%;
  border: 3px solid #9793ba;
  margin-bottom: 10px;
  z-index: 10;
  transition: transform 1.5s ease;
  /* box-shadow: 0 8px 16px rgba(58, 15, 90, 0.804); */
}

.profileImage:hover {
  transform: rotateY(360deg);
}

.userTask {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #b0adca;
}

.graphOuter {
  margin: 30px 0;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #a7a1e014;
  width: 100%;
  padding: 40px 10px;
  border: 2px solid #9793ba;
}

.centerImageGraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerImageGraph img {
  height: 180px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.centerImageGraph p {
  margin: 0;
  font-size: 16px;
  color: #9793ba;
  font-weight: 500;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
}

.fullScreenDiv {
  overflow: hidden;
  width: 100%;
   /* Ensure it covers the full screen */
  background: radial-gradient(circle, #240359, #010535, #090015); /* Dark purple to almost black */
  background-size: cover; /* Ensures it fills the area */
  background-repeat: no-repeat; /* Prevents repetition */
  background-position: center; /* Centers the gradient */
  
}


