.flip_card {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: linear-gradient(90deg, #9793ba, #b6b3d4);
  color: #1f0734dc;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.chat_rec:hover {
  background-color: #9793ba1d;
}

.sidebar_inner {
  height: 100%;
  backdrop-filter: blur(500px);
  background-color: #08012069;
}

.sidebar_outer {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 1px solid #9793ba;
  background-position: center;
  /* background: linear-gradient(90deg, #020925de, #2f0e5e, #2f0644e0); */
  background-image: url("https://i.pinimg.com/originals/70/eb/0b/70eb0b53eb57c91db403928c5d02a19a.gif");
}

.flip_card:hover {
  transform: rotateY(360deg);
}
