.streak_calendar_container {
  width: 86%;
  padding: 15px 20px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #ffffff;
  
}

.streak_calendar_title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color: #010101;
  text-align: center;
}

.streak_calendar_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
}

.streak_inner_header {
  backdrop-filter: blur(5px);
  padding: 14px 8px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
}

.streak_calendar_header {
  text-align: center;
  font-weight: bold;
  background-color: #ffffff;
  color: rgb(4, 4, 4);
  border-radius: 10px;
}

.streak_calendar_table_1 {
  margin: 0px 120px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  box-shadow: 0 8px 10px #d1d1d1;
}

.streak_calendar_table {
  backdrop-filter: blur(130px);
  border-radius: 20px;
  position: relative;
  padding: 50px 65px;
  overflow: hidden;
  border: 3px solid rgba(210, 179, 255, 0.6);
  
  background-color: #fff;
}

.streak_calendar_day {
  padding: 10px 8px;
  background-color: #f0f0ffd5;
  color: #000000;
  text-align: center;
  opacity: 0.85;
  cursor: pointer;
  border-radius: 5px;
}

.streak_calendar_day:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(171, 171, 171, 0.1);
}

.streak_calendar_day.activity {
  background-color: #ffffffdf;
  opacity: 1;
  color: #000000;
}

.streak_calendar_day.special {
  background-color: #ffffff71;
  opacity: 1;
}

.streak_calendar_day.special:hover {
  background-color: #000000e6;
  opacity: 1;
  color: #000000;
}

.task_section {
  margin-top: 20px;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.navigation_buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 385px;
  margin-bottom: 20px;
}

.navigation_buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.navigation_buttons button:hover {
  transform: scale(1.15);
}

.prev_button {
  background-image: url("/public/prev.svg");
  float: left;
}

.next_button {
  background-image: url("/public/next.svg");
  float: right;
}

.selected_day {
  background-color: white !important;
  color: #2d3748;
  font-weight: bold;
}

.streak_calendar_table:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(2, 94, 62, 0.7);
}

.streak_image {
  height: 25px;
}