.form_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  margin: 0 auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
  
  border-radius: 12px;
  color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;

  background-color: #ffdff4;
  /* background-image: url("../../public/log5.png"); */
  /* background-image: url("https://i.pinimg.com/originals/37/d8/fd/37d8fd385021566890f0df2e253a0901.gif"); */
  /* background-image: url("https://i.pinimg.com/originals/70/eb/0b/70eb0b53eb57c91db403928c5d02a19a.gif"); */
  /* transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; */
  /* perspective: 1000px; */
}

.task_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  
  width: 100%;
  border-radius: 12px;
  color: #000000;
  
  perspective: 1000px;
}

@media (max-width: 768px) {
  .form_container {
    padding: 15px;
    width: 90%;
    background-size: cover;
  }

  .task_form {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .form_container {
    padding: 10px;
  }

  .task_form {
    padding: 8px;
  }
}

.form_container:hover {
 
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.8);
}

.task_form_input,
.task_form_select {
  padding: 5px;
  border: 2px solid #d1c4db3f;
  border-radius: 7px;
  width: 100%;
 
  color: #000000;
  font-size: 16px;
  background-color: transparent;
}

.task_form_input::placeholder {
  color: #000000;
}

.task_form_input:focus,
.task_form_select:focus {
  border: 2px solid #d4acf388 !important;
  outline: none;
}

.task_form_button {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 10px;
  height: 40px;
  font-weight: 700;
  border-radius: 7px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
 
}

.task_form_button:hover {
  background-color: rgb(248, 248, 248);
  transform: scale(1.03);
}

.task_form_image1,
.task_form_image2 {
  height: 200px;
  margin-right: 20px;
 
}



.task_form_div {
  display: flex;
  align-items: center;
  gap: 10px;
}
