.tasklist {
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
  position: relative;
  margin: auto;
}

.tasklist h1 {
  font-size: 40px;
  font-weight: 800;
  margin-top: 30px;
  width: 100%;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center !important;
  position: absolute;
}

.tasklist_image {
  height: 320px;
  margin: 0;
 
}


