.tasklist {
  padding: 10px 60px;
  padding-bottom: 20px;
  border-radius: 20px;
  max-width: 900px;
  position: relative;
  border: 2px solid #9793ba;
  background-color: #9793ba21;
  margin: auto;
  margin-top: 40px;
}

.tasklist h1 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
  width: 100%;

  color: white;
  text-align: center;
}

.tasklist_image {
  height: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
  animation: pulse 7s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.03);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.tasklistPara {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}
